@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

* {
  margin: 0;
  padding: 0;
}


.graph img {
  aspect-ratio: 1;
  width: 66%;
}

.displayBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Julius Sans One", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 0.7rem;
}
