@media only screen and (max-width: 600px) {
  #hero .heading {
    font-size: 1.8rem;
    line-height: 8vh;
  }

  .inputs,
  .buttons {
    border-radius: 10px;
    width: 20rem;
    height: 5.5rem;
    font-size: 0.6rem;
    padding: 1rem;
  }

  .buttons {
    width: 8rem;
    gap: 1rem;
  }

  .variables {
    gap: 0.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .x {
    margin: 0 0 0 0.3rem;
    width: 1.6rem;
  }

  .y {
    width: 3.3rem;
  }
  .inputs p {
    font-size: 0.6rem;
  }

  .form input {
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    padding: 0.6rem;
    width: 6rem;
  }

  .inputs .form .box label {
    left: 0.3rem;
    padding: 0 0.6rem;
  }

  .inputs .lbrackets {
    left: -26px;
    bottom: -30px;
    transform: scale(0.85);
  }

  .inputs .wave {
    right: -12px;
    bottom: -5px;
    transform: scale(0.85);
  }

  .displayBoxes {
    flex-direction: column;
    font-size: 0.7rem;
  }

  .graph img {
    width: 100%;
  }

  #canvasContainer {
    transform: scale(0.9);
    left: 0%;
    top: 0%;
  }

  .neuronBox {
    transform: scale(0.9);
  }
}
